In [1]:
# print statement
print("HOPE AI")

HOPE AI

In [5]:
# Buy input
x = input("Enter your institute name? :")

Enter your institute name? : HOPE AI

In [9]:
# Buy Inputs
Name = input("Enter your name :")
Age = input("Enter your age :")
Scho = input("Enter your school name :")
Degree = input("Enter your name :")

Enter your name : Raj
Enter your age : 15
Enter your school name : Guru school
Enter your name : B.E CSE

In [13]:
#Addition
a = 43
b = 34
add = a + b
print("a=",a)
print("b=",b)
print("add=", add)

a= 43
b= 34
add= 77

In [17]:
#Subtraction
a = 43
b = 34
sub = a - b
print("a=",a)
print("b=",b)
print("Sub=", sub)

a= 43
b= 34
Sub= 9

In [21]:
#Multiplication 
a = 63
b = 97
Mul = a * b
print("a=",a)
print("b=",b)
print("Mul=", Mul)

a= 63
b= 97
Mul= 6111

In [23]:
#Multiplication 
a = 76
b = 31
div = a / b
print("a=",a)
print("b=",b)
print("Float Div=", div)

a= 76
b= 31
Float Div= 2.4516129032258065

In [27]:
import numpy as np
import pandas as pd

In [41]:
a = 76
b = 31
div = int(np.floor(a / b))
print("a=",a)
print("b=",b)
print("Floor Div=", div)

a= 76
b= 31
Floor Div= 2

In [49]:
#Modulous
a = 76
b = 31
mod =a % b
print("a=",a)
print("b=",b)
print("Modulous=", mod)

a= 76
b= 31
Modulous= 14

In [51]:
#Power
a = 4
b = 4
pow =a ** b
print("a=",a)
print("b=",b)
print("Power =", pow)

a= 4
b= 4
Power = 256